.container {
    position: relative;
    cursor: pointer;
}


@media (min-width: 768px) {
    .container::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: var(--primary-color);
        transform: scaleX(0); /* Start hidden */
        transform-origin: left; /* Scale from the left */
        transition: transform 0.5s ease; /* Smooth transition */
    }
}

.container:hover::after {
    transform: scaleX(1); /* Expand to full width on hover */
}

.itemText {
    color: var(--text-color);
    font-size: 15px;
    margin-bottom: 5px;
}

.underline {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
}
.isActive {
    color: var(--primary-color);
}