:root {
  --primary-color: #FFD700; /* Space yellow */
  --secondary-color: #1e90ff; /* Dodger blue */
  --sub-text-color: #868999; /* Light grey */
  --text-color: #ffffff; 
  background-color: black;
  color: white;
}

.container {
  margin-top: 100px;
  margin-left: 50px; 
  margin-right: 50px;
}

@media (min-width: 768px) {
  .container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
}


.menu {
  position: absolute;
  top:50px;
  right: 12vw;
}